@model IEnumerable<IdentityUser>
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <br />
    <div class="display-6">Kullanıcılar</div>
    <br />
</div>

<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Kulanıcı Adı</th>
            <th>Kullanıcı Rolleri</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.UserName</td>
                <td user-name="@item.UserName" user-role="" ></td>
                <td>
                    <div class="btn-group">
                        <a data-toggle="tooltip" data-placement="top" title="Güncelle" class="btn btn btn-warning rounded" asp-action="Update" asp-route-id="@item.UserName">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Parola Sıfırla" class="btn btn btn-info rounded" asp-action="ResetPassword" asp-route-id="@item.UserName">
                            <i class="fa fa-cancel"></i>
                        </a>
                        <form method="post" asp-action="DeleteUser">
                            <input type="hidden" name="UserName" value="@item.UserName" />
                            <button data-toggle="tooltip" data-placement="top" title="Sil" type="submit" class="btn btn-danger rounded">
                                <i class="fa fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(() => {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>

}